# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://[username]:[password]@localhost:5432/lhokutang"


# Run `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_SECRET=""

# Google OAuth2 Credentials
# @see https://developers.google.com/adwords/api/docs/guides/authentication
# Add http://localhost:3000 for the origin, and http://localhost:3000/api/auth/callback/google for the redirect
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
